<div class="topic-container col-autofit">

  <div class="form-group">
    <label>X</label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="$ctrl.message.x" ng-readonly="$ctrl.isSubscribing">
      <span class="input-group-addon">m</span>
    </div>
  </div>
  <div class="form-group">

    <label>Y</label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="$ctrl.message.y" ng-readonly="$ctrl.isSubscribing">
      <span class="input-group-addon">m</span>
    </div>
  </div>

  <div class="form-group">
    <label>&theta;</label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="$ctrl.message.theta" ng-readonly="$ctrl.isSubscribing">
      <span class="input-group-addon">rad</span>
    </div>
  </div>

</div>
