html, body {
  height: 100%;
}

.ng-scope {
  height: 95%;
}

#connected, #disconnected {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 20px;
}
#disconnected {
  background-color: Tomato;
}

#connected {
  background-color: MediumSeaGreen;
}

.reload {
  cursor: pointer;
}

.panel {
  margin-bottom: 5px;
}
.panel-domain {
  cursor: pointer;
}
.panel-active {
  border: none;
}
.panel-active.panel-default .panel-heading {
  color: white;
  background-color: #2E3D5F;
  border: 1px #2E3D5F solid;
  border-radius: 3px;
}
.panel-active.panel-danger .panel-heading {
  color: white;
  background-color: #8e3b3b;
  border: 1px #8e3b3b solid;
  border-radius: 3px;
}


.sidebar {
  position: absolute;
  top: 50px;
  bottom: 0;
  right: 0;

  padding: 0;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
}
.console {
  position: absolute;
  top: 0;
  bottom: 70px;
  display: block;
  width: 100%;

  overflow-x: hidden;
  overflow-y: auto;
}
.console > table > tr > td {
  border-top: none;
  border-bottom: 1px solid #ddd;
}
.battery {
  position: absolute;
  bottom: 0;
  padding: 15px 15px 0 15px;
  width: 100%;

  background-color: white;
  border-top: 1px solid #e7e7e7;
}

.form-margin {
  margin: 0 15px;
}

.sub-btn {
  margin-left: 20px;
}

.topic-container, .service-container, .action-container {
  display: grid;
  grid-gap: 20px;
  margin: 0px;
  height: auto;
  grid-row-gap: 0;

}

.topic-accord .panel-body {
  margin-bottom: -15px;
}

.col-autofit {
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}


div.smoothie-chart-tooltip {
  background: #fff;
  padding: 0.5em;
  margin-top: 20px;
  font-family: consolas;
  color: black;
  font-size: 20px;
  pointer-events: none;
}

.chart-wrapper {
  padding: 10px;
}
