<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <span>
        <div style="display: inline-block;" ng-if="$ctrl.ros.isConnected" id="connected" title='connected'></div>
        <div style="display: inline-block;" ng-if="!$ctrl.ros.isConnected" id="disconnected" title='disconnected'></div>
      </span>
      <a class="navbar-brand" href="#!/">
        <img src="assets/images/ros-logo.svg" height="22px"/>
      </a>
      <a class="navbar-brand" href="#!/">
        <img src="assets/images/utcoupe-logo.png" height="35px"/>
      </a>


    </div>

    <ul class="nav navbar-nav navbar-right">
      <li ng-class="{ 'active': $ctrl.isPath('/diagnostic') }"><a href="#!/diagnostic">Diagnostic</a></li>
      <li ng-class="{ 'active': $ctrl.isPath('/asserv') }"><a href="#!/asserv">Asserv</a></li>
      <li ng-class="{ 'active': $ctrl.isPath('/hokuyo') }"><a href="#!/hokuyo">Hokuyo</a></li>
      <li ng-class="{ 'active': $ctrl.isPath('/telecommande') }"><a href="#!/telecommande">Télécommande</a></li>
      <li ng-class="{ 'active': $ctrl.isPath('/settings') }"><a href="#!/settings">Settings</a></li>
    </ul>
  </div>
</nav>
