<launch>
    <arg name="robot" default="pr" />
    <param name="robot"  value="$(arg robot)" />

    <group ns="ai">
        <node pkg="ai_game_manager" name="game_status" type="game_status_node.py" output="screen"/>
    </group>

    <group ns="memory">
		<node pkg="memory_definitions"    name="definitions" type="definitions_node.py" output="screen" />
		<node pkg="memory_map"            name="map"         type="map_node.py"         output="screen" />
	</group>

    <group ns="drivers">
        <node pkg="drivers_ard_asserv" name="ard_asserv" type="ard_asserv_node.py" output="screen" />
        <node pkg="drivers_port_finder" name="port_finder" type="port_finder_node.py" output="screen" />
    </group>

    <group ns="external_nodes">
        <include file="$(find rosbridge_server)/launch/rosbridge_websocket.launch"/>
    </group>

</launch>
