<launch>
    <group ns="processing">
        <include file="$(find definitions)/def/robots/gr/processing/lidar_objects.launch" ns="lidar_objects"/>
    </group>

    <node pkg="tf2_ros" type="static_transform_publisher" name="lidar_tf_publisher" args="-0.05 0.0 0.0 0.0 0.0 0.0 robot_front laser" />
    
    <!-- TODO change 'x' (robot front) value -->
    <node pkg="tf2_ros" type="static_transform_publisher" name="asserv_tf_publisher" args="0.10 0.0 0.0 0.0 0.0 0.0 robot robot_front" />
</launch>
