
<div ng-show="false" ng-init="x = 0; y = 0; a = 0;"></div>

<div class="service-container col-autofit">
  <div class="form-group">
    <label>X</label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="x">
      <span class="input-group-addon">m</span>
    </div>
  </div>

  <div class="form-group">
    <label>Y</label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="y">
      <span class="input-group-addon">m</span>
    </div>
  </div>

  <div class="form-group">
    <label>Angle</label>
    <div class="input-group">
      <input type="number" class="form-control" ng-model="a">
      <span class="input-group-addon">deg</span>
    </div>
  </div>
</div>
<button class="btn btn-default btn-md pull-right" type="button" ng-click="$ctrl.callService({
  position: {
    x,
    y,
    theta: a * 3.14159 / 180
  }
})">
  Set position & angle
</button>
